@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

*{
    margin: 0px;
    padding: 0px;
}
html, body{
    min-height: 100vh;
    background-color: darkgray;
}
header{
    font-family: 'Passion One', Arial, Helvetica, sans-serif;
    max-height: 500px;
    text-align: center;
    color: white;
    background-color: black;
}
header > h1{
    padding-top: 60px;
    font-variant: small-caps; /*anotar, td maiusculo mas a primeira letra fica maior*/
    font-size: 10vw; /*10% da largura atual*/
    font-weight:bold;
}
header p{
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 50px;
}
a{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    color: white;
    text-decoration: none;
    font-weight: bolder;
}
a:hover{
    text-decoration: underline;
}
section{
    font-family: 'Sriracha', Arial, Helvetica, sans-serif;
    font-size: 3.5vw;
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
}
section.normal{
    background-color: white;
}
section.imagem{
    color: white;
    background-color: rgb(51, 51, 51);
}
section.imagem > p{
    background-color: rgba(0, 0, 0, 0.575);
    display: inline-block; /*caixa q se adapta ao tamanho do conteudo*/
    padding: 5px;
}
footer{
    font-family: Verdana, Arial, Tahoma, sans-serif;
    color: white;
    text-align: center;
    font-size: 0.8em;
    padding: 5px;
    background-color: black;
}